{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
<section class="container py-5">

    <h1 class="text-center text-warning mb-3 font-weight-normal">Mot de passe oublié.</h1>
    <p class="text-center fst-italic mb-3">Veuillez renseigner votre adresse email.</p>
    <div class="text-center mx-auto w-50"> 
    
          {% for level, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ level }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}

{{ form_start(emailForm) }}

    {{ form_row(emailForm.email,{attr:{'class':'my-3'}}) }}

    {{ form_row(emailForm.envoyer, {attr:{'class': 'btn btn-lg btn-warning mt-3'}}) }}
    	
{{ form_end(emailForm) }}

</section>
{% endblock %}